.header {
  width: 100%;
  min-height: 60px;
  background-color: $sky-blue;
  color: $black;

  .menu {
    .dropdown {
      position: relative;
      display: inline-block;

      .dropdown-content {
        color: white;
        display: inline-block;
        position: relative;
        padding: 16px;
        font-size: 16px;
        cursor: pointer;

      }
    }

  }
}